@model IEnumerable<TechReady.Portal.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackAgenda.Event_Track_Session_Speakers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeakerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTRRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrackAgenda.Event_Track_Session_Speakers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeakerRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTRRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeedbackID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeedbackID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeedbackID })
        </td>
    </tr>
}

</table>
