@model TechReady.Portal.Models.AudienceOrg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AudienceOrg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AudienceType1.TypeOfAudience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudienceType1.TypeOfAudience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudOrg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AudienceOrgID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
