@model TechReady.Portal.Models.SecondaryTechnology

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SecondaryTechnology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryTechnology.PrimaryTech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryTechnology.PrimaryTech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryTech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryTech)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.SecondaryTechnologyID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
