@model IEnumerable<TechReady.Portal.Models.SecondaryTechnology>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryTechnology.PrimaryTech)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryTech)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryTechnology.PrimaryTech)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryTech)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SecondaryTechnologyID }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.SecondaryTechnologyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SecondaryTechnologyID })
        </td>
    </tr>
}

</table>
