@model IEnumerable<TechReady.Portal.Models.TrackAgenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.Session.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speaker.SpeakerName)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QRCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
   
        <td>
            @Html.DisplayFor(modelItem => item.Session.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speaker.SpeakerName)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QRCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrackAgendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrackAgendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrackAgendaID })
        </td>
    </tr>
}

</table>
